h1 {
    margin: 5px auto;
    text-align: center;
}

body {
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    display: flex;
}

.btn {
    position: fixed;
    padding: 14px;
    border: 2px solid lightgreen;
    border-radius: 15px;
    color: lightgreen;
    background-color: #019BBA;;
    top: 12%;
    left: 15.4%;
    font-weight: bold;
    cursor: pointer;
}

.btn-restart {
    position: fixed;
    padding: 14px;
    border: 2px solid lightcoral;
    border-radius: 15px;
    color: lightcoral;
    background-color: #019BBA;
    top: 12%;
    right: 16%;
    font-weight: bold;
    cursor: pointer;
}

.game {
    max-width: 790px;
    max-height: 1000px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
    height: 150px;
    width: 150px;
}

.back, .front {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
}

.front {
    z-index: 2;
    background: url('images/question.png') no-repeat center center / contain;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg);
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.pair .front {
    display: none;
}

@media (max-width : 1285px) {
    body {
        background-image: url("./images/bg1.jpg");
    }
}

@media (max-width : 1221px) {
    .btn {
        left: 0 !important;
        margin-left: 5px;
    }
    .btn-restart {
        right: 0 !important;
        margin-right: 5px;
    }
}

@media (max-width : 850px) {
    .container {
        position: relative;
        height: 50px;
        justify-content: space-around;
    }
    .btn {
        position: relative !important;
        top: 0;
        left: 0;
    }
    .btn-restart {
        position: relative !important;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: 661px) {
    .card {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 550px) {
    .card {
        width: 100px;
        height: 100px;
    }
}


@media screen and (max-width: 460px) {
    .card {
        width: 80px;
        height: 80px;
        cursor: none;
    }

    .back, .front {
        cursor: none;
    }
}

@media screen and (max-width: 380px) {
    .card {
        width: 60px;
        height: 60px;
        cursor: none;
    }
}

@media screen and (max-width: 300px) {
    .card {
        width: 50px;
        height: 50px;
        cursor: none;
    }
}
